body{
	font-weight: normal;
	color: #333333;
	font-family: ãƒ¡ã‚¤ãƒªã‚ª;
}
img{
	width: 100%;
}
.nav_btn_sp{
	display: none;
}
.header{
	display: flex;
	justify-content: space-between;
	padding: 20px 40px;
	align-items: center;
}
.header h1{
	font-size: 26px;
}
.head_btn01{
	background-color: #fd617b;
	display: block;
	width: 200px;
	text-align: center;
	color: #fff;
	padding: 20px;
	margin-right: 20px;
}
.heaer_right{
	display: flex;
}
.head_btn02{
	background-color: #1d782e;
	display: block;
	width: 200px;
	text-align: center;
	color: #fff;
	padding: 20px;
}
.head_btn01:hover{
	opacity: 0.7;
}
.head_btn02:hover{
	opacity: 0.7;
}
.heaer_bottom{
	display: flex;
	justify-content: space-around;
	max-width: 1000px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}
.heaer_bottom:hover{
	opacity: 0.7;
}
@media only screen and (max-width: 767px){
	.nav_btn{
		display: none;
	}
	.nav_btn_sp{
		display:inline-block;
	}
	.heaer_right_sp{
		display: flex;
	}
	.header{
		display: flex;
		justify-content: space-between;
		padding: 10px;
		align-items: center;
	}
	.header h1{
		font-size: 18px;
	}
	.head_btn01{
		background-color: #fd617b;
		display: block;
		max-width: 50px;
		text-align: center;
		color: #fff;
		padding: 7px;
		margin-right: 5px;
	}
	.head_btn02{
		background-color: #1d782e;
		display: block;
		max-width: 50px;
		text-align: center;
		color: #fff;
		padding: 7px;
	}	
	.heaer_bottom{
		display: flex;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 13px;
}
}
.mv h1 img{
	width: 100%;
}
.wrapper{
    max-width: 1200px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
@media only screen and (max-width: 1199px){
	.wrapper {
	    padding-right: 40px;
	    padding-left: 40px;
	}
}
@media only screen and (max-width: 767px){
	.wrapper {
	    padding-right: 10px;
	    padding-left: 10px;
	}
}
/* ↑会社名、ボタン、メニュー、ボタン２つ */
.sec_01{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#sec_01{
	padding-top: 60px;
}
.sec_01_left{
	width: 65%;
}
.sec_01_right{
	width: 33%;
}
.sec_01_left h2{
	font-size: 26px;
	margin-bottom:10px;
}
.sec_01_left p{
	font-size: 16px;
}
@media only screen and (max-width: 767px){
	.sec_01{
		display: flex;
		flex-direction: column;
	}
	#sec_01{
		padding-top: 40px;
	}
	.sec_01_left{
		width: 100%;
		margin-bottom: 20px;
	}
	.sec_01_right{
		width: 100%;
	}
	.sec_01_left{
		text-align: center;
	}
	.sec_01_left h2{
		font-size: 18px;
		margin-bottom:5px;
	}
	.sec_01_left p{
		font-size: 12px;
	}
}
#sec_02{
	padding-top: 100px;
}
.sec_02{
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.sec_02_box{
	width: 48%;
}
.sec_02_box p{
	margin-top: 20px;
	font-size: 16px
}
#sec_02 h1{
	margin-bottom: 20px;
	font-size: 30px;
}
@media only screen and (max-width: 767px){
	#sec_02{
		padding-top: 40px;
	}
	.sec_02{
		display: flex;
		width: 100%;
		flex-flow: column;
	}
	.sec_02_box{
		width: 100%;
	}
	.sec_02_box p{
		margin-top: 10px;
		font-size: 16px;
	}
	#sec_02 h1{
		margin-bottom: 10px;
		font-size: 20px;
		text-align:center;
	}
	.sec_02_1st{
		margin-bottom: 20px;
	}
}
#sec_03{
	padding-top: 100px;
}
.sec_03_bg{
	background-color: #EEEEEE;
    padding: 40px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.sec_03_left{
	width: 35%;
    order: 1;
    padding-right: 5px;
}
.sec_03_right{
	display: flex;
    align-items: center;
    padding-left: 10px;
    width: 65%;
    order: 2;
}
.sec_03_text h2{
	font-size: 26px;
	margin-bottom:10px;
}
.sec_03_text p{
	font-size: 16px;
}
@media only screen and (max-width: 767px){
	#sec_03{
		padding-top: 40px;
	}
	.sec_03_bg{
	    padding: 20px;
	}
	.sec_03_text h2{
		font-size: 18px;
		margin-bottom:5px;
	}
	.sec_03_text p{
		font-size: 12px;
	}
	.sec_03_left{
		width: 100%;
	    padding-right: 0;
	    margin-bottom: 20px;
	}
	.sec_03_right{
		display: block;
	    width: 100%;
	    padding: 0;
	    text-align: center;
	}
}
#sec_04{
	padding-top: 100px;
}
#sec_04 h1 {
    margin-bottom: 20px;
    font-size: 30px;
}
.sec_04_box{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.sec_04_img{
	width: 30%;
}
.sec_04_img h3{
	margin-top: 20px;
	font-size: 18px;
}
.sec_04_img p{
	margin-top: 10px;
	font-size: 14px;
}
.fa-clock{
	margin-right: 10px;
}
@media only screen and (max-width: 767px){
	#sec_04{
		padding-top: 40px;
	}
	#sec_04 h1{
		margin-bottom: 10px;
		font-size: 20px;
		text-align:center;
	}
	.sec_04_box{
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.sec_04_img{
		width: 100%;
		margin-bottom: 20px;
	}
	.sec_04_img h3{
		margin-top: 10px;
		font-size: 16px;
	}
	.sec_04_img p{
		margin-top: 5px;
		font-size: 11px;
	}
	.fa-clock{
		margin-right: 5px;
	}
}
#foot_01{
	background-color: #cccccc;
	padding: 80px 0;
	margin-top: 100px;
}
.foot_01_box{
	display: flex;
	justify-content: space-between;
}
.btn_box{
	width: 48%;
	background-color: #fff;
	padding: 50px 0;
	text-align: center;
}
.foot_btn_01{
	background-color: #fd617b;
	display: block;
	width: 300px;
	text-align: center;
	color: #fff;
	padding: 20px;
	margin-right: auto;
	margin-left: auto;
}
.foot_btn_02{
	background-color: #1d782e;
	display: block;
	width: 300px;
	text-align: center;
	color: #fff;
	padding: 20px;
	margin-right: auto;
	margin-left: auto;
}
.foot_btn_01:hover{
	opacity: 0.7;
}
.foot_btn_02:hover{
	opacity: 0.7;
}
.btn_box p{
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 20px;
}
@media only screen and (max-width: 767px){
	#foot_01{
		background-color: #cccccc;
		padding: 20px 0 0 0;
		margin-top: 30px;
	}
	.foot_01_box{
		display: flex;
		flex-direction: column;
	}
	.btn_box{
		width: 100%;
		background-color: #fff;
		padding: 20px;
		text-align: center;
		margin-bottom: 20px;
	}
	.foot_btn_01{
		background-color: #fd617b;
		display: block;
		width: 100%;
		text-align: center;
		color: #fff;
		padding: 10px;
		margin-right: auto;
		margin-left: auto;
	}
	.foot_btn_02{
		background-color: #1d782e;
		display: block;
		width: 100%;
		text-align: center;
		color: #fff;
		padding: 10px;
		margin-right: auto;
		margin-left: auto;
	}
	.btn_box p{
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 10px;
	}
}
#foot_02{
	text-align: center;
	padding: 80px 0 70px;
	border-bottom: 1px solid #cccccc;
}
#foot_02 ul li{
	margin-bottom: 10px;
	font-size: 18px;
}
.foot_logo{
	font-weight: bold;
	font-size: 24px;
}
@media only screen and (max-width: 767px){
	#foot_02{
		text-align: center;
		padding: 40px 0 30px;
		border-bottom: 1px solid #cccccc;
	}
	#foot_02 ul li{
		margin-bottom: 10px;
		font-size: 16px;
	}
	.foot_logo{
		font-weight: bold;
		font-size: 20px;
	}
}
.foot_03_list{
	display: flex;
	justify-content: space-between;
	padding: 50px 0 80px;
}
.foot_03_link{
	display: flex;
	flex-direction: column;
}
.foot_03_link a{
	margin-bottom: 10px;
}
#foot_03{
	border-bottom: 1px solid #cccccc;
}
#copyright{
	padding: 20px 0;
	font-size: 14px;
	text-align: center;
}
@media only screen and (max-width: 767px){
	#foot_03{
		display: none;
	}
	#copyright{
		padding: 10px 0;
		font-size: 11px;
		text-align: center;
	}
}